
.DS_Store
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*
hs_err_pid*
*.swo
*.swp
*.lock

# Variables de entorno 
.env
.env.*
!/.env.example # A menudo se comitea un .env.example



/.idea/
*.iws
*.iml 
*.ipr


/.vscode/*
!/.vscode/extensions.json
!/.vscode/settings.json 



# -------------------------------------------
# Frontend (rehearsal-rooms-frontend)
# -------------------------------------------
frontend/node_modules/
frontend/dist/
frontend/dist-ssr/ 
frontend/.vite/    
frontend/coverage/ 
frontend/*.local   


# -------------------------------------------
# Backend (rehearsal-rooms-backend)
# -------------------------------------------
backend/target/
backend/logs/

# Exclusiones para Maven Wrapper (¡Importante mantener el wrapper!)
!backend/.mvn/wrapper/maven-wrapper.jar



backend/.apt_generated/
backend/.classpath
backend/.factorypath
backend/.project
backend/.settings/
backend/.springBeans
backend/.sts4-cache/


backend/nbproject/private/
backend/nbbuild/
backend/dist/ 
backend/nbdist/
backend/.nb-gradle/ 
backend/build/      


frontend/src/pages/RoomDetailPage copy.tsx
backend/src/main/resources/application.properties

